* {
  padding: 0;
  margin: 0;
}

body {
  height: 10000px;
}

.btn-totop {
  position: fixed;
  z-index: 999;
  left: 16px;
  top: 16px;
  width: 32px;
  height: 32px;
  background: rgba(0, 0, 0, 1);
  border-radius: 50%;
  text-indent: -9999px;
}

.btn-todown {
  position: fixed;
  z-index: 999;
  right: 16px;
  bottom: 16px;
  width: 32px;
  height: 32px;
  background: rgba(0, 0, 0, 1);
  border-radius: 50%;
  text-indent: -9999px;
}
