@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i|Muli:400,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html, body {
  background: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Muli', sans-serif;
}

.tags {
  position: relative;
  width: 100vw;
  height: 100vh; 
}

.tag {
  position: absolute;
  color: #fff;
  font-weight: 700;
  font-size: 70px;
}